<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Titles</key>
			<array>
				<string>Disk</string>
				<string>Inset</string>
				<string>Ornamental</string>
				<string>California</string>
			</array>
			<key>Values</key>
			<array>
				<string>disk</string>
				<string>inset</string>
				<string>ornamental</string>
				<string>california</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Clock Face</string>
			<key>Key</key>
			<string>clock_face</string>
			<key>DefaultValue</key>
			<string>disk</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Soft</string>
				<string>Slowmotion</string>
				<string>Orchestral</string>
			</array>
			<key>Values</key>
			<array>
				<string>alarm1</string>
				<string>alarm2</string>
				<string>alarm3</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Alarms</string>
			<key>Key</key>
			<string>alarm_name</string>
			<key>DefaultValue</key>
			<string>alarm1</string>
		</dict>
	</array>
</dict>
</plist>
